[submodule "bmfont"]
	path = bmfont
	url = git@github.com:thetarnav/odin-bmfont.git
[submodule "aseprite"]
	path = aseprite
	url = git@github.com:blob1807/odin-aseprite.git
	shallow = true
[submodule "atlas-builder"]
	path = atlas-builder
	url = git@github.com:karl-zylinski/atlas-builder.git
	shallow = true
